[user]
    name = Peter Dosychev
    email = dosy4ev@gmail.com
[alias]
    a = !tig status
    st = status -sb
    lg = log --format=oneline --abbrev-commit --graph
    ln = log --abbrev-commit --oneline --no-merges
    sh = show --oneline --name-status
    bdiff = show-branch --current --sha1-name
[diff]
    tool = vimdiff
[color]
    ui = auto
[credential]
    helper = cache
[include]
    path = ~/.gitconfig-local
[push]
    default = simple
[core]
    quotepath = off
[merge]
    tool = vimdiff
