[user]
	name = Peter Dosychev
	email = dosy4ev@gmail.com
[alias]
	st = status -sb
	lg = log --format=oneline --abbrev-commit --graph
	sh = show --oneline --name-status
[diff]
	tool = vimdiff
[color]
	ui = auto
[credential]
	helper = cache
